/* Very basic style */

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/* class gets appended to canvas when user dragging over on it */
.inside {
  -webkit-box-shadow: inset 0 0 26px 0.5px rgba(20, 180, 81, 0.75);
  -moz-box-shadow: inset 0 0 26px 0.5px rgba(20, 180, 81, 0.75);
  box-shadow: inset 0 0 26px 0.5px rgba(20, 180, 81, 0.75);
}

.trash-box.inside,
.dropzone.inside.no-space {
  -webkit-box-shadow: inset 0 0 26px 0.5px rgba(230, 23, 23, 0.5);
  -moz-box-shadow: inset 0 0 26px 0.5px rgba(230, 23, 23, 0.75);
  box-shadow: inset 0 0 26px 0.5px rgba(230, 23, 23, 0.75);
}

.dropzone {
  width: 100%;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  background: #f0faff;
  border: 1px solid #0277bd;
}

.dropzone.empty {
  padding: 40px;
}

.palette {
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #01579b;
}

.drag-item {
  padding: 10px;
  color: #01579b;
  box-sizing: border-box;
  background-color: #b3e5fc;
  border: 1px solid #01579b;
}

.inline.drag-item {
  margin: 0 10px;
  display: inline-block;
}

.dropzone-placeholder {
  width: 100%;
  color: #01579b;
  text-align: center;
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
  animation-name: changeColor;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes changeColor {
  25% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(1);
    opacity: 0.5;
  }
}

.palette-wrapper .drag-item {
  color: #fff;
  background-color: #01579b;
}

.drag-item + div {
  margin-top: 10px;
}

.drag-item.after,
.drag-item.before {
  position: relative;
}

.drag-item.after::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background: #14b451;
  left: 50%;
  bottom: -1px;
  border-radius: 50%;
  transform: translate(-50%, 0);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(20, 180, 81, 1);
  -moz-box-shadow: 0px 4px 10px 0px rgba(20, 180, 81, 1);
  box-shadow: 0px 4px 10px 0px rgba(20, 180, 81, 1);
}

.drag-item.before::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background: #14b451;
  left: 50%;
  top: -1px;
  border-radius: 50%;
  transform: translate(-50%, 0);
  -webkit-box-shadow: 0px -1px 10px 0.3px rgba(23, 180, 81, 1);
  -moz-box-shadow: 0px -1px 10px 0.3px rgba(23, 180, 81, 1);
  box-shadow: 0px -1px 10px 0.3px rgba(23, 180, 81, 1);
}

.inline.drag-item.before::before {
  width: 1px;
  height: 50%;
  left: -1px;
  right: unset;
  top: 50%;
  transform: translate(0, -50%);
}

.inline.drag-item.after::after {
  width: 1px;
  height: 50%;
  right: -1px;
  left: unset;
  top: unset;
  transform: translate(0, -50%);
}

.trash-box {
  padding: 30px 10px;
  margin: 10px 0;
  color: #b71c1c;
  background: #ffcdd2;
  text-align: center;
  border: 1px solid #b71c1c;
}
